<h1 class="text-center mt-2">Article Listing Page</h1>

<div class="container mt-4">
    <%= render 'article' %>

    <%= link_to 'New', new_article_path, type: "button", class: "btn btn-primary mt-3" %>
</div>
