<div class="container mt-3">
    <div class="p-5 mb-4 bg-dark text-light rounded-3 ">
        <div class="container-fluid py-5 d-flex flex-column align-items-center">
            <h1 class="display-5 fw-bold">Hehe Articles</h1>
            <p class="col-md-8 fs-4 text-center">A collection of best Articles in the market</p>
            
        </div>
    </div>
</div>